
/* Agregando estilos Globales*/
/* lo siguiente es para RESETEAR y evitar futuras complicaciones con el HTML*/
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: verdana, geneva, serif;
}
header{
  /* izquierda derecha: 0 ; arriba y abajo 0*/
  padding: 20px 0;
}
div.contenedor{
/*ancho*/
  width: 1200px;
  margin: 0 auto;
}
/* Navegacion*/
.navegacion{
  background-color: #db008d;
}
nav{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
nav ul{
  list-style: none;
}
/* antes de usar una float, se debe limpiar con CLEAR*/
nav > ul > li{
  float: left;
}
nav ul::after{
  content: '';
  display: block;
  clear: both;
}
nav ul li a{
  /* la ventaja de este, es que le podemos definir un ancho*/

  display: inline-block;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
nav ul li a:hover{
  background-color: #00b8e4;
}
/* SEGUNDO NIVEL - menu de arriba multinivel*/
nav ul ul{
   position: absolute;
   top: 100%;
   background-color: rgba(0, 184, 228, 0.7);
   display: none;
}
nav ul li:hover > ul{
  display: block;

}
nav ul li:hover{
  background-color: rgba(0, 184, 228, 1);
}
/** CONTENIDO PRINCIPAL **/
div.contenido::after{
/** con esto limpiamos el FLOAT, este es el elemento padre**/
  content: '';
  display: block;
  clear: both;

}
main{
  width: 70%;
  float: left;
  padding-right: 40px;

}
aside{
  float: right;
  width: 30%;

}
