
/* Agregando estilos Globales*/
/* lo siguiente es para RESETEAR y evitar futuras complicaciones con el HTML*/
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: verdana, geneva, serif;
}
header{
  /* izquierda derecha: 0 ; arriba y abajo 0*/
  padding: 20px 0;
}
div.contenedor{
/*ancho*/
  width: 1200px;
  margin: 0 auto;
}
/* Navegacion*/
.navegacion{
  background-color: #db008d;
}
nav{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
nav ul{
  list-style: none;
}
/* antes de usar una float, se debe limpiar con CLEAR*/
nav > ul > li{
  float: left;
}
nav ul::after{
  content: '';
  display: block;
  clear: both;
}
nav ul li a{
  /* la ventaja de este, es que le podemos definir un ancho*/

  display: inline-block;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
nav ul li a:hover{
  background-color: #00b8e4;
}
/* SEGUNDO NIVEL - menu de arriba multinivel*/
nav ul ul{
   position: absolute;
   top: 100%;
   background-color: rgba(0, 184, 228, 0.7);
   display: none;
}
nav ul li:hover > ul{
  display: block;

}
nav ul li:hover{
  background-color: rgba(0, 184, 228, 1);
}
/** CONTENIDO PRINCIPAL **/
div.contenido::after{
/** con esto limpiamos el FLOAT, este es el elemento padre**/
  content: '';
  display: block;
  clear: both;

}
main{
  width: 70%;
  float: left;
  padding-right: 40px;

}
/** ENTRADAS DE POST **/
article{
  margin-top: 30px;
}
article img{
  float: left;;
  /* tamaño de imagen*/
  width: 300px;
  /* un poco de separacion entre imagen y texto*/
  margin-right: 30px;
}
/* parrafos*/
article p{
  line-height: 2;
  text-align: justify;
}
h2{
  color: #00b8e4;
  /*espacio de separacion h2 e imagen: */
  margin-bottom: 20px;
}
.boton{
  background-color: #00b8e4;
  padding: 10px 30px;
  /* para una separacion entre texto y color*/
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
/** SIDEBAR, barra lateral**/
aside{
  float: right;
  width: 30%;
  margin-top: 30px;

}
/* quitamos los puntos a los LI: */
aside ul{
  list-style: none;
}
aside ul li{
  padding: 10px 0 10px 10px;
}
aside ul li:hover{
  background-color: #00b8e4;
  /** cambia el tipo de puntero del raton*/
  cursor: pointer;
}
/** le quita los puntos y le asigna un color a las entradas: */
aside ul li a{
  color: #00b8e4;
  text-decoration: none;
}
aside ul li:hover a{
  color: #ffffff;
}
